*{
    padding: 0;
    margin: 0;
    text-decoration: none;    
    box-sizing: border-box;

}

section{
    height: 100vh;
}

.nav-content{


}

.link-contener{
display: flex;
justify-content: space-between;
padding: 1rem 10%;
}

.link-contener li{
    display: inline;
    font-size: 1.2rem;
    font-weight: 600;
}