*{
    padding: 0;
    margin: 0;
    text-decoration: none;    
    box-sizing: border-box;

}

section{
    height: 100vh;
    width: 100%;
}

h2 {
    text-align: center;
}

.container {
    background-color: rgb(189, 184, 184);
}

.skills {
    text-align: right; 
    padding-top: 10px; 
    padding-bottom: 10px; 
    padding-right: 10px;
    color: whitesmoke;
    background-color: #000000;
}

.html {
    width: 90%; 
    background-color: #68b89b;
    position: relative;
    animation-name: bar1;
    animation-duration: 2s;
    animation-iteration-count: 1;
}


@keyframes bar1{
    from {
        width: 0%;
    }
    to {
        width: 90%;
    }
}

.css {
    width: 80%; 
    background-color: #406889;
    position: relative;
    animation-name: bar2;
    animation-duration: 2s;
    animation-iteration-count: 1;
} 


@keyframes bar2{
    from {
        width: 0%;
    }
    to {
        width: 80%;
    }
}

.js {
    width: 65%; 
    background-color: #814946;
    position: relative;
    animation-name: bar3;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

@keyframes bar3{
    from {
        width: 0%;
    }
    to {
        width: 65%;
    }
}

.nav-content{


}

.link-contener{
display: flex;
justify-content: space-between;
padding: 1rem 10%;
}

.link-contener li{
    display: inline;
    font-size: 1.2rem;
    font-weight: 600;
}

@media (height > 600px) {
    
}